<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coba</title>

    <link rel="stylesheet" href="css/coba.css" />
  </head>
  <body>
    <h1 style="color: #00dfc4">LOGIN</h1>
    <div class="inputBox">
      <input type="text" name="" id="" required />
      <span>User ID</span>
    </div>
    <div class="inputBox">
      <input type="email" name="" id="" required />
      <span>Password</span>
    </div>
  </body>
</html>
